// light colors
$color-light: #ffffff;
$color-light2: #f3f3f3;

// dark colors
$color-primary-dark: #232429;
$color-primary-dark2: #232328;

// other
$color-red: #f54e54;
$color-green-I: #00cdbe;
$color-green-II: #1fcce8;
$color-green-III: #00cdbe;
