// default font
$font-family-default: Arial, Helvetica, sans-serif;

// button font
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
$button-font: "Roboto", sans-serif;

// text font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
$text-font: "Montserrat", sans-serif;
