@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
* {
  margin: 0rem 0rem 0rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  color: #ffffff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232429;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #232429;
}

.container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .user .user-name,
.container .user .user-balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0rem 0rem 0rem 0rem;
}

.container .user .user-name i,
.container .user .user-balance i {
  color: #f3f3f3;
  font-size: 1.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
}

.container .user .user-name span,
.container .user .user-balance span {
  color: #f3f3f3;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.container .inputs {
  width: 50%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .inputs .bet-amount {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #f3f3f3;
}

.container .inputs .bet-amount label {
  color: #f3f3f3;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
}

.container .inputs .bet-amount input {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  width: auto;
  height: 5vh;
  color: #f3f3f3;
  font-size: 1rem;
  text-align: center;
  border: #f3f3f3 solid 1px;
  border-radius: none;
  outline: none;
  background: transparent;
}

.container .inputs .bet-amount .bet-increase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .inputs .bet-amount .bet-increase-container button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  width: 10vh;
  height: 5vh;
  color: #f3f3f3;
  border: solid #f3f3f3 1px;
  font-family: "Roboto", sans-serif;
  background: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.8;
  font-size: 1rem;
  outline: none;
}

.container .inputs .bet-amount .bet-increase-container button:hover {
  opacity: 1;
  color: #232429;
  background-color: #f3f3f3;
}

.container .inputs .mines-generator,
.container .inputs .size-generator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
}

.container .inputs .mines-generator .amount,
.container .inputs .size-generator .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .inputs .mines-generator .amount button,
.container .inputs .size-generator .amount button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  width: 10vh;
  height: 5vh;
  color: #f3f3f3;
  border: solid #f3f3f3 1px;
  font-family: "Roboto", sans-serif;
  background: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.8;
  font-size: 1rem;
  outline: none;
}

.container .inputs .mines-generator .amount button:hover,
.container .inputs .size-generator .amount button:hover {
  opacity: 1;
  color: #232429;
  background-color: #f3f3f3;
}

.container .inputs .mines-generator span,
.container .inputs .size-generator span {
  color: #f3f3f3;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.container .inputs .start-stop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
}

.container .inputs .start-stop button {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0rem 0rem 0rem 0rem;
  width: calc(10vh * 2);
  height: 5vh;
  color: #f3f3f3;
  border: solid #f3f3f3 1px;
  font-family: "Roboto", sans-serif;
  background: transparent;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0.8;
  font-size: 1rem;
  outline: none;
}

.container .inputs .start-stop button:hover {
  opacity: 1;
  color: #232429;
  background-color: #f3f3f3;
}

.container .game {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .game .place {
  width: 100%;
  height: calc(50vh + 50vh/ 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .game .place .single-mine {
  margin: 1rem;
  background-color: #ff0062;
  border-radius: 5px;
}

.container .game .place .mine1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 20%;
  height: 20%;
  font-size: 4rem;
}

.container .game .place .mine2 {
  width: 15%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 4rem;
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container .inputs {
    width: 100%;
    height: 100vh;
  }
  .container .game {
    width: 100%;
    height: 100vh;
  }
  .container .game .place {
    width: 50%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container .game .place .single-mine {
    margin: 1rem;
    background-color: #ff0062;
    border-radius: 5px;
  }
  .container .game .place .mine1 {
    width: 17%;
    height: 17%;
  }
  .container .game .place .mine2 {
    width: 13%;
    height: 13%;
  }
}

/* Smartphones (portrait) ----------- */
@media (min-width: 100px) and (max-width: 520px) {
  .container .user .user-name i,
  .container .user .user-balance i {
    color: #f3f3f3;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0rem 0rem 0rem 0rem;
  }
  .container .user .user-name span,
  .container .user .user-balance span {
    color: #f3f3f3;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
  .container .inputs .bet-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container .game {
    width: 100%;
    height: 100vh;
  }
  .container .game .place {
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .container .game .place .single-mine {
    margin: 1rem;
    background-color: #ff0062;
  }
  .container .game .place .mine1 {
    width: 15%;
    height: 15%;
    font-size: 2rem;
  }
  .container .game .place .mine2 {
    width: 10%;
    height: 10%;
    font-size: 2rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */